{% extends 'quiz/base.html' %}

{% block title %}<title>{{ user.username }}</title>{% endblock %}

{% block body %}

<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ prof.image.url }}">
  </div>

<div class="row">
<div class="col-sm-3">
    <p><a href="{% url 'user-profile' %}"> {{ user.username }}</a></p>
        <p>{{ user.email }}</p>
        <p>{{ prof.bio }}</p>
        <p><a class="btn btn-secondary btn-sn mt-1" href="{% url 'update-profile' %}">Update</a></p>
  </div>


   {% if questions %}
       <div class="col-sm-9">
           <div class="alert alert-info"><h4 class="text text-center">My Questions:</h4></div>
    {% for quiz in questions %}
    <h2><a class="article-title" href="{% url 'quiz:question-detail' quiz.id %}">{{ quiz.pk }}. {{ quiz.title }}</a></h2>
        {% if quiz.image %}

                  <a href="{% url 'quiz:question-detail' quiz.id %}">
                  <img class="img img-thumbnail" style="height: 500px; width: 750px ;" src="{{ quiz.image.url }}">
                  </a>
              {% endif %}

        <hr>
       {% endfor %}
       </div>
       {% else %}
       <div class="alert alert-info"><h4 class="text text-center">No Questions</h4></div>
 {% endif %}
</div>
</div>
{% endblock %}